a, a:visited, a:hover, a:active {
	color: inherit;
	text-decoration: none;
}

html, body{

	
	margin: 0px;
	overflow-x: hidden;
	
}


.headerItems{
	margin: 0px;
	border-bottom: 2px solid black;
	width: 100%;
	position: sticky;
	background-color: aliceblue;
	max-height: 50px;
}

.headerItems, li{
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	font-size: 17px;


}

li{
	list-style: none;
	height: 100%;

}

li:visited{
	color: black;
}

#aboutMe:hover, #github:hover, #projects:hover{
	background-color: lightgray;
}


#name{
	float: right;
	padding-right: 2em;
	font-size: 25px;
	padding: 0px 50px 0px 0px;
	font-family: 'Lemonada', cursive;
}